.experience_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

.experience_container > div {
  background: var(--color-pale);
  padding: 2.4rem 5rem;
  border: 2px solid transparent;
  transition: var(--transition);
}

.experience_container > div:hover {
  background: var(--color-bg);
  border-color: var(--color-light);
  box-shadow: var(--shadow-outline);
  cursor: default;
}

.experience_name {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.experience_name small {
  color: var(--color-light);
}

span {
  color: var(--color-neon);
}

.experience_image img {
  opacity:0.5;
  transition: 1s ease;
  width: 100%;
  border: 2px solid white;
}

.experience_image img:hover {
  opacity:1;
  transition: 1s ease;
}

.experience_desc {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
}

.experience_item {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  height: fit-content;
}

.experience_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
}

.experience_details-icons {
  color: var(--color-primary);
  margin-top: 6px;
  min-width: 20px;
}

.experience_stacks {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  color: var(--color-light-gray)
}

.experience_stacks p {
  color: var(--color-light-gray)
}

.experience_stacks-icons {
  color: var(--color-light-gray);
  margin-top: 6px;
  min-width: 20px;
}

/* ==================== MEDIA QUERIES (Medium DEVICES) ==================== */
@media screen and (max-width: 1300px) {
  .experience_container {
    grid-template-columns: 1fr;
  }

  .experience_container > div {
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
  }

  .experience_content {
    padding: 1rem;
    display: flex;
    flex-direction: column;
  }

  .experience_desc {
    row-gap: 1rem;
  }

}

/* ==================== MEDIA QUERIES (Small DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .experience_container {
    gap: 1rem;
  }

  .experience_container > div {
    width: 100%;
    padding: 2rem 1rem;
  }
}
