.fun_container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15%;
  margin-bottom: 8rem;
}

.fun_content p {
  margin: 0rem 0 2.6rem;
  color: var(--color-light);
  font-size: 1.5rem;
}

/* ==================== MEDIA QUERIES (Medium DEVICES) ==================== */
@media screen and (max-width: 1400px) {
  .about_container {
    grid-template-columns: 1fr;
    gap: 0;
  }

  .me {
    /* width: 50%; */
    margin: 2rem auto 4rem;
  }

  .about_card-content p {
    margin: 1rem 0 1.5rem;
  }

  .about_content p {
    margin: 2.6rem 0 2.6rem;
  }
}

/* ==================== MEDIA QUERIES (Small DEVICES) ==================== */
@media screen and (max-width: 600px) {
  .me {
    /* width: 65%; */
    margin: 0 auto 3rem;
  }

  .about_card {
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
  }

  .about_card-content {
    text-align: center;
  }

  .about_card-content p {
    margin: 1.5rem 0;
  }

  .about_content p {
    margin: 2.6rem 0 2.6rem;
  }
}

/* ==================== My Image (PFP) ==================== */

.image-container {
  display: flex;
  justify-content: center;
}
.me {
  background-image: url("../../../assets/Pics/me2.jpg");
  background-size: 30rem;
  color: rgba(255, 255, 255, 0.3);
}
.image-card {
  width: 30rem;
  height: 30rem;
  /* center content using flex box */
  display: flex;
  justify-content: center;
  align-items: center;
  /* overlay */
  box-shadow: 0 0 0 30rem inset, 0 0 5px grey;
  /* hover out transition */
  transition: box-shadow 0.5s;
  float: left;
  margin: 10px;
}
.image-card:hover {
  box-shadow: 0 0 0 5px inset, 
    0 0 5px grey, 
    0 0 10px grey inset,
    -20px -20px 0 0px var(--color-bg-variant),
    -22px -18px 0 0px #ffffff,
    -18px -22px 0 0px #ffffff,
    -22px -22px 0 0px #ffffff,
    20px 20px 0 0px var(--color-bg-variant),
    22px 18px 0 0px #ffffff,
    18px 22px 0 0px #ffffff,
    22px 22px 0 0px #ffffff;
  transition: box-shadow 1s;
}
.image-card:after {
  width: 80%;
  height: 80%;
  display: block;
  white-space: pre;
  font: 15pt 'sigmar one';
  color: white;
  border: 2px solid;
  text-align: center;
  /* center content using flex box */
  display: flex;
  justify-content: center;
  align-items: center;
  /* hover out transition */
  transition: opacity 1s .5s;
  box-shadow: var(--shadow-outline)
}
.image-card:hover::after {
  opacity: 0;
  transition: opacity .5s;
}
